POSTGRES_USER=ferrydo
POSTGRES_DB=ferrydo
POSTGRES_PASSWORD=replace_with_random_hex
REDIS_PASSWORD=replace_with_random_hex
SESSION_SECRET=replace_with_random_hex
CRYPTO_SECRET=replace_with_random_hex
